<div class="chart-container">
  <plotly-plot
    #chartDiv
    [data]="chart.data"
    [layout]="chart.layout"
    [config]="chart.layout?.interactiveConfig"
    [useResizeHandler]="true"
    [style]="{ position: 'relative', width: '100%', height: '100%' }"
  >
  </plotly-plot>
</div>
<input type="text" [formControl]="deviceId" />
<button (click)="connect()">Connect</button>
<button (click)="close()">Close</button>
<button (click)="addMaxChart()">Add Max</button>
<button (click)="addMinChart()">Add Min</button>
<!--<button (click)="removeChart()">Remove Chart</button> -->

<p *ngIf="data$ | async as data" hidden>{{ data | json }}</p>
