<div class="chart-container">
  <plotly-plot
    #chart
    [data]="chartConfig.data"
    [layout]="chartConfig.layout"
    [config]="chartConfig.layout.interactiveConfig"
    [useResizeHandler]="true"
    [style]="{ position: 'relative', width: '100%', height: '100%' }"
  >
  </plotly-plot>
</div>
<input type="text" [formControl]="deviceId" />
<button (click)="connect()">Connect</button>
<button (click)="close()">Close</button>
<!-- <button (click)="addMaxChart()">Add Chart</button>
<button (click)="removeChart()">Remove Chart</button> -->

<p *ngIf="data$ | async as data">{{ data }}</p>
